flow.json
[
    {
        "id": "fa790d73.1efda",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cc2bfd3b364006d3",
        "type": "tab",
        "label": "Probes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "30e1932b.805ebc",
        "type": "tab",
        "label": "System",
        "disabled": false,
        "info": ""
    },
    {
        "id": "946a4136.4ff9f",
        "type": "tab",
        "label": "Ezo Testing",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2995cf07.1a752",
        "type": "subflow",
        "name": "Persistence Helper",
        "info": "",
        "in": [
            {
                "x": 45.5,
                "y": 85,
                "wires": [
                    {
                        "id": "a7185ac0.5bd768"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 749.5,
                "y": 53,
                "wires": [
                    {
                        "id": "eb05f9b.95da008",
                        "port": 0
                    }
                ]
            },
            {
                "x": 760,
                "y": 160,
                "wires": [
                    {
                        "id": "35486cab.c48124",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "96c88e29.07fcb",
        "type": "subflow",
        "name": "TP-LINK LightBulb",
        "info": "",
        "in": [
            {
                "x": 72.00000286102295,
                "y": 157.9999942779541,
                "wires": [
                    {
                        "id": "1364e29a.a221ed"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 645.9999885559082,
                "y": 314.9999942779541,
                "wires": [
                    {
                        "id": "c5843566.2bb7a8",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "4e7e1e91.ec75d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cca45374.9220a",
        "type": "ui_tab",
        "name": "System",
        "icon": "system",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7a6dcdeb.5ee744",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "false",
            "dateFormat": "MM/DD/YYYY",
            "sizes": {
                "sx": 50,
                "sy": 50,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "36816e08.30a3e2",
        "type": "ui_group",
        "name": "System",
        "tab": "cca45374.9220a",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cfc5afa4.8f001",
        "type": "ui_group",
        "name": "ORP",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a4d910e0.e5e71",
        "type": "ui_group",
        "name": "pH",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9bfb97b9.622ff8",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "43cff99.31d3408",
        "type": "ui_group",
        "name": "Conductivity",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "639e2c86.a112d4",
        "type": "ui_group",
        "name": "Dissolved Oxygen",
        "tab": "",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d245fff0.0b692",
        "type": "ui_group",
        "name": "Column 1",
        "tab": "4e7e1e91.ec75d",
        "order": 1,
        "disp": false,
        "width": 6,
        "collapse": false
    },
    {
        "id": "38f514c8.e6c21c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.50.50",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7881445b.0563cc",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "raspberry_do_gama_alive",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "Raspberry ativo",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ae596f1.b43ea9",
        "type": "ui_group",
        "name": "UserEntry",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "5107b908.210568",
        "type": "ui_group",
        "name": "dialog",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "1",
        "collapse": false
    },
    {
        "id": "d40bd4c9.fda078",
        "type": "ui_group",
        "name": "Barcode",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "5f72f817.1ed4d8",
        "type": "ui_group",
        "name": "Barcode",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "9b4918ef.289788",
        "type": "ui_group",
        "name": "Time",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "80e1e30c.9d553",
        "type": "ui_group",
        "name": "Col3",
        "tab": "",
        "order": 3,
        "disp": false,
        "width": "6"
    },
    {
        "id": "ce187ddb.d35f5",
        "type": "ui_group",
        "name": "Col2",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "6"
    },
    {
        "id": "c8f6861a.2ca658",
        "type": "ui_group",
        "name": "Actions",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "6"
    },
    {
        "id": "eb3e51fe.2c141",
        "type": "ui_group",
        "name": "Col1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "220eacc.c638354",
        "type": "ui_group",
        "name": "OS",
        "tab": "3758529c.bc2a2e",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "579f76c6.8c4eb8",
        "type": "ui_group",
        "name": "System",
        "tab": "3758529c.bc2a2e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2316f587.0b98ca",
        "type": "ui_group",
        "name": "Column 2",
        "tab": "4e7e1e91.ec75d",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "defa544f.e0f388",
        "type": "ui_group",
        "name": "Column 3",
        "tab": "4e7e1e91.ec75d",
        "order": 3,
        "disp": false,
        "width": 6,
        "collapse": false
    },
    {
        "id": "3840f1fa.16e7de",
        "type": "mqtt-broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "verifyservercert": true,
        "compatmode": true,
        "keepalive": "15",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": null,
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": null,
        "willPayload": ""
    },
    {
        "id": "8a636712.18f9d8",
        "type": "ui_group",
        "name": "Devices",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "18"
    },
    {
        "id": "b0f58092.3d15b",
        "type": "ui_group",
        "name": "Chart",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "15",
        "collapse": false
    },
    {
        "id": "7b926ccb.b179e4",
        "type": "ui_group",
        "name": "Column1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "842bcb53.1d17a8",
        "type": "ui_group",
        "name": "Column2",
        "tab": "",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9f2da61.3353758",
        "type": "ui_group",
        "name": "Flight",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "28a39865.fa3608",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "9",
        "collapse": false
    },
    {
        "id": "8834c282.e5704",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.8-flux",
        "url": "http://192.168.50.49:8086",
        "rejectUnauthorized": false
    },
    {
        "id": "b341b4c4.d981a8",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "73943972.65b478",
        "type": "serial-port",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "fb4c245.8e22cd8",
        "type": "ui_group",
        "name": "Demo",
        "tab": "9cb34fc7.ab81b8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9cb34fc7.ab81b8",
        "type": "ui_tab",
        "name": "Test",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "012032d730d42d71",
        "type": "twilio-api",
        "name": "SMS",
        "sid": "AC2fde0338a14defc2752489c1768ddc07",
        "from": "17152604985"
    },
    {
        "id": "5198ab7b999928e8",
        "type": "ui_tab",
        "name": "Probes",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ccfbed40649b0975",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "5198ab7b999928e8",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1727aa2261bc32b9",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "cca45374.9220a",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "784a477d318a72af",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "cca45374.9220a",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "056ec6cc4a6dd224",
        "type": "ui_tab",
        "name": "Inputs",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a7d6d75387b7e6aa",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "056ec6cc4a6dd224",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eb05f9b.95da008",
        "type": "change",
        "z": "2995cf07.1a752",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "restore",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 589.5,
        "y": 53,
        "wires": [
            []
        ]
    },
    {
        "id": "a7185ac0.5bd768",
        "type": "json",
        "z": "2995cf07.1a752",
        "name": "",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "eb05f9b.95da008"
            ]
        ]
    },
    {
        "id": "55a101f8.bcffb",
        "type": "catch",
        "z": "2995cf07.1a752",
        "name": "",
        "scope": [
            "a7185ac0.5bd768"
        ],
        "x": 183.5,
        "y": 117,
        "wires": [
            [
                "3595b98f.23a236"
            ]
        ]
    },
    {
        "id": "3595b98f.23a236",
        "type": "change",
        "z": "2995cf07.1a752",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 354.5,
        "y": 116,
        "wires": [
            [
                "eb05f9b.95da008"
            ]
        ]
    },
    {
        "id": "35486cab.c48124",
        "type": "inject",
        "z": "2995cf07.1a752",
        "name": "Trigger restore",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 618.5,
        "y": 169,
        "wires": [
            []
        ]
    },
    {
        "id": "8ee90481.0d6918",
        "type": "udp out",
        "z": "96c88e29.07fcb",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "9999",
        "ipv": "udp4",
        "outport": "61234",
        "base64": false,
        "multicast": "false",
        "x": 933.9828262329102,
        "y": 160.01040077209473,
        "wires": []
    },
    {
        "id": "5e7d02d0.d9eedc",
        "type": "function",
        "z": "96c88e29.07fcb",
        "name": "TP-Link LightBulb",
        "func": "// msg.brightness : 0 = uit,  >0 & <=100 = aan\n// msg.on = 1 of 0\n// msg.transitionperiod = xxxx ms  (LB100 enkel voor ON ?)\n// msg.ip = ip address of bulb\n\n// defaults\nvar brightness = msg.brightness ? msg.brightness : 100;\nvar on = msg.on;\nvar transitionperiod = msg.transitionperiod ? msg.transitionperiod : 1;\n\nif( on === 0 ){\n    msg.brightness = 0;\n}\nif( brightness > 100 )\n{\n    brightness = 100;\n}\n\nvar json = {\n      'smartlife.iot.smartbulb.lightingservice': {\n        'transition_light_state': {\n          'ignore_default': 1,\n          'on_off' : on ,\n          'transition_period': transitionperiod,\n          'brightness': brightness\n        }\n      }\n};\n  \nvar buffer = new Buffer(JSON.stringify(json));\n  \n// encrypt    \nvar key = 0xAB;\nfor (let i = 0; i < buffer.length; i++) {\n    const c = buffer[i];\n    buffer[i] = c ^ key;\n    key = buffer[i];\n}\n\nmsg.payload = buffer;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 752.9827041625977,
        "y": 159.01040935516357,
        "wires": [
            [
                "8ee90481.0d6918"
            ]
        ]
    },
    {
        "id": "290191f4.02fe5e",
        "type": "udp in",
        "z": "96c88e29.07fcb",
        "name": "",
        "iface": "",
        "port": "61234",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 236.9827423095703,
        "y": 307.0103645324707,
        "wires": [
            [
                "c5843566.2bb7a8"
            ]
        ]
    },
    {
        "id": "c5843566.2bb7a8",
        "type": "function",
        "z": "96c88e29.07fcb",
        "name": "Answer",
        "func": "var buffer = msg.payload;    \nvar key = 0xAB;   \n    \n    for (let i = 0; i < buffer.length; i++) {\n      const c = buffer[i]\n      buffer[i] = c ^ key\n      key = c\n    }\n    \nvar json = buffer.toString();    \nvar answer = JSON.parse(json);\n\nmsg.payload = answer[\"smartlife.iot.smartbulb.lightingservice\"][\"transition_light_state\"];\n    \nmsg.on = msg.payload[\"on_off\"];\nmsg.err_code = msg.payload[\"err_code\"];\n\nmsg.brightness = msg.payload[\"brightness\"];\nmsg.saturation = msg.payload[\"saturation\"];\nmsg.color_temp = msg.payload[\"color_temp\"];\nmsg.hue = msg.payload[\"hue\"];\n\n\nreturn msg;\n\n\n\n//{\"smartlife.iot.smartbulb.lightingservice\":{\"transition_light_state\":{\"on_off\":1,\"mode\":\"normal\",\"hue\":0,\"saturation\":0,\"color_temp\":2700,\"brightness\":50,\"err_code\":0}}}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 405.98272705078125,
        "y": 307.01038551330566,
        "wires": [
            []
        ]
    },
    {
        "id": "644c4f12.2eef9",
        "type": "function",
        "z": "96c88e29.07fcb",
        "name": "Simple triggered queue",
        "func": "// if queue doesn't exist, create it\ncontext.queue = context.queue || [];\ncontext.busy = context.busy || false;\n//node.warn(context.busy);\n// if the msg is a trigger one release next message\nif (msg.hasOwnProperty(\"trigger\")) {\n    if (context.queue.length > 0) {\n        var m = context.queue.shift();\n        return {payload:m};\n    }\n    else {\n        context.busy = false;\n    }\n}\nelse {\n    if (context.busy) {\n        // if busy add to queue\n        context.queue.push(msg.payload);\n    }\n    else {\n        // otherwise we are empty so just pass through and set busy flag\n        context.busy = true;\n        return msg;\n    }\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "x": 345.99998474121094,
        "y": 242.13190460205078,
        "wires": [
            [
                "1364e29a.a221ed"
            ]
        ]
    },
    {
        "id": "3bf24135.38e52e",
        "type": "function",
        "z": "96c88e29.07fcb",
        "name": "set trigger  voor Queue",
        "func": "// handle the return from the exec in here \n// if all is good then set msg.trigger property to exist\nmsg.trigger = 1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 451.9999237060547,
        "y": 160.13190460205078,
        "wires": [
            [
                "644c4f12.2eef9",
                "5e7d02d0.d9eedc"
            ]
        ]
    },
    {
        "id": "1364e29a.a221ed",
        "type": "delay",
        "z": "96c88e29.07fcb",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 258.99998474121094,
        "y": 159.13190460205078,
        "wires": [
            [
                "3bf24135.38e52e"
            ]
        ]
    },
    {
        "id": "d0087bf1.6d8fa8",
        "type": "comment",
        "z": "96c88e29.07fcb",
        "name": "Communication with lightbulb is via on port 9999 and incomming port 61234",
        "info": "",
        "x": 492.05213928222656,
        "y": 107.5068941116333,
        "wires": []
    },
    {
        "id": "52cf8736.857f98",
        "type": "inject",
        "z": "fa790d73.1efda",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "R",
        "payloadType": "str",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "b373b725.54c658",
                "fa4489df.df9b78",
                "b7eb3440.7e14c8",
                "3782741d.a1f0ec",
                "b76b70b6.c495a"
            ]
        ]
    },
    {
        "id": "b373b725.54c658",
        "type": "ezo",
        "z": "fa790d73.1efda",
        "name": "Temp1",
        "address": "105",
        "customAddr": true,
        "ezoBoard": "rtd",
        "ezoTopic": "temp1",
        "x": 290,
        "y": 100,
        "wires": [
            [
                "390e185df00c88a2",
                "b0b1082915df7495"
            ]
        ]
    },
    {
        "id": "fa4489df.df9b78",
        "type": "ezo",
        "z": "fa790d73.1efda",
        "name": "Temp2",
        "address": "105",
        "customAddr": false,
        "ezoBoard": "rtd",
        "ezoTopic": "temp2",
        "x": 290,
        "y": 140,
        "wires": [
            [
                "f78acfc3b958cbaa",
                "b0b1082915df7495"
            ]
        ]
    },
    {
        "id": "b76b70b6.c495a",
        "type": "ezo",
        "z": "fa790d73.1efda",
        "name": "EC",
        "address": 3,
        "customAddr": false,
        "ezoBoard": "ec",
        "ezoTopic": "ec",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "252d8b20e5afc319",
                "b0b1082915df7495"
            ]
        ]
    },
    {
        "id": "b7eb3440.7e14c8",
        "type": "ezo",
        "z": "fa790d73.1efda",
        "name": "",
        "address": "105",
        "customAddr": false,
        "ezoBoard": "ph",
        "ezoTopic": "ph",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "6c62fb62f202b296",
                "b0b1082915df7495"
            ]
        ]
    },
    {
        "id": "3782741d.a1f0ec",
        "type": "ezo",
        "z": "fa790d73.1efda",
        "name": "",
        "address": "105",
        "customAddr": false,
        "ezoBoard": "orp",
        "ezoTopic": "orp",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "e63a937d6dc26986",
                "b0b1082915df7495"
            ]
        ]
    },
    {
        "id": "48a5dc78.07fc74",
        "type": "widgetlords-relay",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Relay 1",
        "channel": "0",
        "address": "0",
        "chipenable": "0",
        "x": 280,
        "y": 1340,
        "wires": []
    },
    {
        "id": "3057a0cc.2fcf5",
        "type": "widgetlords-relay",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Relay 2",
        "channel": "1",
        "address": "0",
        "chipenable": "0",
        "x": 280,
        "y": 1380,
        "wires": []
    },
    {
        "id": "6368cde1.28be24",
        "type": "widgetlords-relay",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Relay 3",
        "channel": "2",
        "address": "0",
        "chipenable": "0",
        "x": 280,
        "y": 1420,
        "wires": []
    },
    {
        "id": "595a9733.3cbfb8",
        "type": "widgetlords-relay",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Relay 4",
        "channel": "3",
        "address": "0",
        "chipenable": "0",
        "x": 280,
        "y": 1460,
        "wires": []
    },
    {
        "id": "bafe78c2.3ac9d8",
        "type": "widgetlords-digital",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Digital Input 1",
        "topic": "tst",
        "channel": "0",
        "address": "0",
        "chipenable": "3",
        "interval": "1000",
        "x": 110,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "13e2cae0.b07175",
        "type": "widgetlords-digital",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Digital Input 2",
        "channel": "1",
        "address": "0",
        "chipenable": "3",
        "interval": "1000",
        "x": 110,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "c9f55fe3.3c64",
        "type": "widgetlords-digital",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Digital Input 3",
        "channel": "2",
        "address": "0",
        "chipenable": "3",
        "interval": "1000",
        "x": 110,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "c4b5143d.812358",
        "type": "widgetlords-digital",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Digital Input 4",
        "channel": "3",
        "address": "0",
        "chipenable": "3",
        "interval": "1000",
        "x": 110,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "46b53c98.a42e74",
        "type": "widgetlords-digital",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Digital Input 5",
        "channel": "4",
        "address": "0",
        "chipenable": "3",
        "interval": "1000",
        "x": 110,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "62bd05.c546b2fc",
        "type": "widgetlords-digital",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Digital Input 6",
        "channel": "5",
        "address": "0",
        "chipenable": "3",
        "interval": "1000",
        "x": 110,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "45936e07.44068",
        "type": "widgetlords-digital",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Digital Input 7",
        "channel": "6",
        "address": "0",
        "chipenable": "3",
        "interval": "1000",
        "x": 110,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "abcbe9f.8fe2218",
        "type": "widgetlords-digital",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Digital Input 8",
        "channel": "7",
        "address": "0",
        "chipenable": "3",
        "interval": "1000",
        "x": 110,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "d3d57251.a2524",
        "type": "comment",
        "z": "fa790d73.1efda",
        "name": "PI-SPI-DIN-8DI",
        "info": "",
        "x": 120,
        "y": 900,
        "wires": []
    },
    {
        "id": "55da3602.3d1bd8",
        "type": "comment",
        "z": "fa790d73.1efda",
        "name": "PI-SPI-DIN-4KO",
        "info": "",
        "x": 120,
        "y": 1300,
        "wires": []
    },
    {
        "id": "97b12d6c.6fd86",
        "type": "comment",
        "z": "fa790d73.1efda",
        "name": "Atlas Scientific Ezo",
        "info": "",
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "e03f7b0f.17b068",
        "type": "widgetlords-vpe-2901a-digital",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Digital Input 1",
        "channel": "0",
        "interval": "1000",
        "x": 850,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "c8bd48d2.315248",
        "type": "widgetlords-vpe-2901a-digital",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Digital Input 2",
        "channel": "1",
        "interval": "1000",
        "x": 850,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "e8f1d580.fef278",
        "type": "widgetlords-vpe-2901a-relay",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Relay 1",
        "channel": "0",
        "x": 1000,
        "y": 940,
        "wires": []
    },
    {
        "id": "80e9d141.c9ce4",
        "type": "widgetlords-vpe-2901a-relay",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Relay 2",
        "channel": "1",
        "x": 1000,
        "y": 980,
        "wires": []
    },
    {
        "id": "10b00e76.f87a72",
        "type": "widgetlords-vpe-2901a-sdafe",
        "z": "fa790d73.1efda",
        "name": "sdafe_ma",
        "topic": "return_pos",
        "channel": "6",
        "input_type": "1",
        "interval": "200",
        "x": 100,
        "y": 380,
        "wires": [
            [
                "303658871d69f3d6",
                "aab4b51388ec6edc"
            ]
        ]
    },
    {
        "id": "d8cb76d.b5ea188",
        "type": "widgetlords-vpe-2901a-sdafe",
        "z": "fa790d73.1efda",
        "name": "sdafe_v",
        "topic": "drain_pos",
        "channel": "7",
        "input_type": "7",
        "interval": "200",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "9f3b19a0d76c3278",
                "aab4b51388ec6edc"
            ]
        ]
    },
    {
        "id": "41832eba.3daf4",
        "type": "widgetlords-vpe-2901a-analog-out",
        "z": "fa790d73.1efda",
        "name": "Analog Output 1",
        "channel": "0",
        "x": 1020,
        "y": 1020,
        "wires": []
    },
    {
        "id": "2ec788c6.61a678",
        "type": "widgetlords-vpe-2901a-analog-out",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Analog Output 2",
        "channel": "1",
        "x": 1020,
        "y": 1060,
        "wires": []
    },
    {
        "id": "c62f28e0.fa22f8",
        "type": "comment",
        "z": "fa790d73.1efda",
        "name": "PI-SPI-DIN-2x4MIO",
        "info": "",
        "x": 870,
        "y": 1120,
        "wires": []
    },
    {
        "id": "2721507c.ce47c",
        "type": "comment",
        "z": "fa790d73.1efda",
        "name": "PI-SPI-DIN-2x4MIO",
        "info": "",
        "x": 870,
        "y": 900,
        "wires": []
    },
    {
        "id": "ceddbce0.aa93e",
        "type": "comment",
        "z": "fa790d73.1efda",
        "name": "PI-SPI-DIN-2x4MIO",
        "info": "",
        "x": 130,
        "y": 340,
        "wires": []
    },
    {
        "id": "ef3b1dfb.a8ebf",
        "type": "widgetlords-analog-in",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Analog_In_1",
        "channel": "0",
        "chipenable": "2",
        "interval": "5000",
        "x": 490,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "82f3dcf4.936a2",
        "type": "widgetlords-analog-in",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Analog_In_2",
        "channel": "1",
        "chipenable": "2",
        "interval": "5000",
        "x": 490,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "21ec6af4.74c176",
        "type": "widgetlords-analog-in",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Analog_In_3",
        "channel": "2",
        "chipenable": "2",
        "interval": "5000",
        "x": 490,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "346b732f.b4bddc",
        "type": "widgetlords-analog-in",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Analog_In_4",
        "channel": "3",
        "chipenable": "2",
        "interval": "5000",
        "x": 490,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "fd2e3bd1.552348",
        "type": "widgetlords-analog-in",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Analog_In_5",
        "channel": "4",
        "chipenable": "2",
        "interval": "5000",
        "x": 490,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "3f944fee.6332c",
        "type": "widgetlords-analog-in",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Analog_In_6",
        "channel": "5",
        "chipenable": "2",
        "interval": "5000",
        "x": 490,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "ee348c59.2efdd",
        "type": "widgetlords-analog-in",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Analog_In_7",
        "channel": "6",
        "chipenable": "2",
        "interval": "5000",
        "x": 490,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "b0ed7b6.51eaf88",
        "type": "widgetlords-analog-in",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Analog_In_8",
        "channel": "7",
        "chipenable": "2",
        "interval": "5000",
        "x": 490,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "3c0ba28e.3ddd9e",
        "type": "comment",
        "z": "fa790d73.1efda",
        "name": "PI-SPI-DIN-8AI",
        "info": "",
        "x": 500,
        "y": 900,
        "wires": []
    },
    {
        "id": "af988222.0a65",
        "type": "widgetlords-analog-in",
        "z": "fa790d73.1efda",
        "name": "Analog_In_1",
        "topic": "sump_lvl",
        "channel": "0",
        "chipenable": "1",
        "interval": "200",
        "x": 110,
        "y": 540,
        "wires": [
            [
                "ff8aef86bbd0227e",
                "aab4b51388ec6edc"
            ]
        ]
    },
    {
        "id": "dfd57992.6a4bb8",
        "type": "widgetlords-analog-in",
        "z": "fa790d73.1efda",
        "name": "Analog_In_2",
        "topic": "disp_lvl",
        "channel": "1",
        "chipenable": "1",
        "interval": "200",
        "x": 110,
        "y": 580,
        "wires": [
            [
                "bab1873a636ff9b5",
                "aab4b51388ec6edc"
            ]
        ]
    },
    {
        "id": "48602a71.137374",
        "type": "widgetlords-analog-in",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Analog_In_3",
        "channel": "2",
        "chipenable": "1",
        "interval": "5000",
        "x": 110,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "d217ee8b.73d55",
        "type": "widgetlords-analog-in",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Analog_In_4",
        "channel": "3",
        "chipenable": "1",
        "interval": "5000",
        "x": 110,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "bab5d641.ca0988",
        "type": "widgetlords-analog-in",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Analog_In_5",
        "channel": "4",
        "chipenable": "1",
        "interval": "5000",
        "x": 110,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "714d3234.6d2fcc",
        "type": "widgetlords-analog-in",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Analog_In_6",
        "channel": "5",
        "chipenable": "1",
        "interval": "5000",
        "x": 110,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "f17ee275.1b48e",
        "type": "widgetlords-analog-in",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Analog_In_7",
        "channel": "6",
        "chipenable": "1",
        "interval": "5000",
        "x": 110,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "4e9f499e.0b14a8",
        "type": "widgetlords-analog-in",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Analog_In_8",
        "channel": "7",
        "chipenable": "1",
        "interval": "5000",
        "x": 110,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "8822bddc.14944",
        "type": "comment",
        "z": "fa790d73.1efda",
        "name": "PI-SPI-DIN-8AI",
        "info": "",
        "x": 120,
        "y": 500,
        "wires": []
    },
    {
        "id": "787c6fe0.b55f",
        "type": "widgetlords-analog-out",
        "z": "fa790d73.1efda",
        "d": true,
        "name": "Analog Out 1",
        "channel": "0",
        "address": "0",
        "x": 870,
        "y": 540,
        "wires": []
    },
    {
        "id": "c108ad9d.4e0e1",
        "type": "comment",
        "z": "fa790d73.1efda",
        "name": "PI-SPI-DIN-4AO",
        "info": "",
        "x": 700,
        "y": 500,
        "wires": []
    },
    {
        "id": "f3acc91f.097608",
        "type": "widgetlords-analog-out",
        "z": "fa790d73.1efda",
        "name": "Analog Out 2",
        "channel": "1",
        "address": "0",
        "x": 870,
        "y": 580,
        "wires": []
    },
    {
        "id": "2560d.32b2f9f3c",
        "type": "widgetlords-analog-out",
        "z": "fa790d73.1efda",
        "name": "Analog Out 3",
        "channel": "2",
        "address": "0",
        "x": 870,
        "y": 620,
        "wires": []
    },
    {
        "id": "a7acd6a8.5cb3f8",
        "type": "widgetlords-analog-out",
        "z": "fa790d73.1efda",
        "name": "Analog Out 4",
        "channel": "3",
        "address": "0",
        "x": 870,
        "y": 660,
        "wires": []
    },
    {
        "id": "72be7eea.4580a",
        "type": "comment",
        "z": "fa790d73.1efda",
        "name": "KP303",
        "info": "",
        "x": 970,
        "y": 360,
        "wires": []
    },
    {
        "id": "bab1873a636ff9b5",
        "type": "smooth",
        "z": "fa790d73.1efda",
        "name": "",
        "property": "payload",
        "action": "low",
        "count": "10",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 300,
        "y": 580,
        "wires": [
            [
                "6206bb149e9b631a",
                "b0b1082915df7495"
            ]
        ]
    },
    {
        "id": "ff8aef86bbd0227e",
        "type": "smooth",
        "z": "fa790d73.1efda",
        "name": "",
        "property": "payload",
        "action": "low",
        "count": "10",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 300,
        "y": 540,
        "wires": [
            [
                "c3bae43439419d6f",
                "b0b1082915df7495"
            ]
        ]
    },
    {
        "id": "303658871d69f3d6",
        "type": "smooth",
        "z": "fa790d73.1efda",
        "name": "",
        "property": "payload",
        "action": "low",
        "count": "10",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 280,
        "y": 380,
        "wires": [
            [
                "b0b1082915df7495",
                "2d9cd961e52c8495"
            ]
        ]
    },
    {
        "id": "9f3b19a0d76c3278",
        "type": "smooth",
        "z": "fa790d73.1efda",
        "name": "",
        "property": "payload",
        "action": "low",
        "count": "10",
        "round": "0",
        "mult": "single",
        "reduce": false,
        "x": 280,
        "y": 420,
        "wires": [
            [
                "b0b1082915df7495",
                "abf8d932e64b0ea4"
            ]
        ]
    },
    {
        "id": "11f8ef10c50e29d9",
        "type": "kasa",
        "z": "fa790d73.1efda",
        "name": "KP303",
        "device": "192.168.50.54",
        "interval": 60000,
        "eventInterval": 15000,
        "payload": "getInfo",
        "payloadType": "info",
        "debug": false,
        "x": 970,
        "y": 400,
        "wires": [
            [
                "e79761fe8984f1aa"
            ]
        ]
    },
    {
        "id": "390e185df00c88a2",
        "type": "delay",
        "z": "fa790d73.1efda",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 100,
        "wires": [
            [
                "0faf681a304e2014"
            ]
        ]
    },
    {
        "id": "f78acfc3b958cbaa",
        "type": "delay",
        "z": "fa790d73.1efda",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 140,
        "wires": [
            [
                "3a0eba14442699f8"
            ]
        ]
    },
    {
        "id": "6c62fb62f202b296",
        "type": "delay",
        "z": "fa790d73.1efda",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 180,
        "wires": [
            [
                "631d0a5e8bb908a6"
            ]
        ]
    },
    {
        "id": "e63a937d6dc26986",
        "type": "delay",
        "z": "fa790d73.1efda",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 220,
        "wires": [
            [
                "8cdc22f329a794c0"
            ]
        ]
    },
    {
        "id": "252d8b20e5afc319",
        "type": "delay",
        "z": "fa790d73.1efda",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 480,
        "y": 260,
        "wires": [
            [
                "d45b7a8fecda49ba"
            ]
        ]
    },
    {
        "id": "e79761fe8984f1aa",
        "type": "function",
        "z": "fa790d73.1efda",
        "name": "",
        "func": "function conv(val) {\n    if(val === 1){ val = true; }\n    if(val === 0){ val = false; }\n    return val;\n}\nfunction conv2(val) {\n    if(val === 1){ val = 'ON'; }\n    if(val === 0){ val = 'OFF'; }\n    return val;\n}\n\nvar out1 = msg.payload.children[0].state;\nvar out2 = msg.payload.children[1].state;\nvar out3 = msg.payload.children[2].state;\n\nvar msg1 = { topic: 'plug1', payload: conv(out1), toFront: conv2(out1) };\nvar msg2 = { topic: 'plug2', payload: conv(out2), toFront: conv2(out2) };\nvar msg3 = { topic: 'plug3', payload: conv(out3), toFront: conv2(out3) };\n\nreturn [msg1,msg2,msg3];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 400,
        "wires": [
            [
                "b0b1082915df7495"
            ],
            [
                "b0b1082915df7495"
            ],
            [
                "b0b1082915df7495"
            ]
        ]
    },
    {
        "id": "413eebb0ac8bad71",
        "type": "twilio out",
        "z": "fa790d73.1efda",
        "twilio": "012032d730d42d71",
        "twilioType": "sms",
        "url": "",
        "number": "14055132203",
        "name": "SMS",
        "x": 1050,
        "y": 60,
        "wires": []
    },
    {
        "id": "1ad364290896bc7f",
        "type": "influxdb out",
        "z": "fa790d73.1efda",
        "influxdb": "8834c282.e5704",
        "name": "Probes",
        "measurement": "probes",
        "precision": "",
        "retentionPolicy": "",
        "database": "reef_12g",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "maddyp",
        "bucket": "reef",
        "x": 1060,
        "y": 180,
        "wires": []
    },
    {
        "id": "5d9f2b16e683fd9d",
        "type": "join",
        "z": "fa790d73.1efda",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 870,
        "y": 180,
        "wires": [
            [
                "1ad364290896bc7f"
            ]
        ]
    },
    {
        "id": "e8f24ee652f909b0",
        "type": "influxdb out",
        "z": "fa790d73.1efda",
        "influxdb": "8834c282.e5704",
        "name": "Outputs",
        "measurement": "outputs",
        "precision": "",
        "retentionPolicy": "",
        "database": "reef_12g",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "maddyp",
        "bucket": "reef",
        "x": 840,
        "y": 780,
        "wires": []
    },
    {
        "id": "91da8c8cbabd5428",
        "type": "influxdb out",
        "z": "fa790d73.1efda",
        "influxdb": "8834c282.e5704",
        "name": "Inputs",
        "measurement": "inputs",
        "precision": "",
        "retentionPolicy": "",
        "database": "reef_12g",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "maddyp",
        "bucket": "reef",
        "x": 830,
        "y": 820,
        "wires": []
    },
    {
        "id": "aab4b51388ec6edc",
        "type": "join",
        "z": "fa790d73.1efda",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 490,
        "y": 820,
        "wires": [
            [
                "2612074a33177174"
            ]
        ]
    },
    {
        "id": "2612074a33177174",
        "type": "delay",
        "z": "fa790d73.1efda",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 670,
        "y": 820,
        "wires": [
            [
                "91da8c8cbabd5428"
            ]
        ]
    },
    {
        "id": "2a1941c012ec3bad",
        "type": "delay",
        "z": "fa790d73.1efda",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 670,
        "y": 780,
        "wires": [
            [
                "e8f24ee652f909b0"
            ]
        ]
    },
    {
        "id": "b0b1082915df7495",
        "type": "function",
        "z": "fa790d73.1efda",
        "name": "Save to flow context",
        "func": "if (msg.topic !== undefined && msg.payload !== undefined) {\n    flow.set(msg.topic, msg.payload);\n}\nreturn;",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 320,
        "wires": []
    },
    {
        "id": "0faf681a304e2014",
        "type": "ui_probe",
        "z": "fa790d73.1efda",
        "name": "Temp1",
        "group": "d245fff0.0b692",
        "order": 1,
        "width": 6,
        "height": 2,
        "label": "Temp1",
        "removeOlder": "3",
        "removeOlderUnit": "3600",
        "decimal": "1",
        "symbol": "",
        "scale": false,
        "minin": "",
        "maxin": "",
        "minout": "",
        "maxout": "",
        "x": 670,
        "y": 100,
        "wires": [
            [
                "5d9f2b16e683fd9d"
            ]
        ]
    },
    {
        "id": "3a0eba14442699f8",
        "type": "ui_probe",
        "z": "fa790d73.1efda",
        "name": "Temp2",
        "group": "d245fff0.0b692",
        "order": 2,
        "width": 6,
        "height": 2,
        "label": "Temp2",
        "removeOlder": "3",
        "removeOlderUnit": "3600",
        "decimal": "1",
        "symbol": "",
        "scale": false,
        "minin": "",
        "maxin": "",
        "minout": "",
        "maxout": "",
        "x": 670,
        "y": 140,
        "wires": [
            [
                "5d9f2b16e683fd9d"
            ]
        ]
    },
    {
        "id": "631d0a5e8bb908a6",
        "type": "ui_probe",
        "z": "fa790d73.1efda",
        "name": "PH",
        "group": "d245fff0.0b692",
        "order": 3,
        "width": 6,
        "height": 2,
        "label": "PH",
        "removeOlder": "3",
        "removeOlderUnit": "3600",
        "decimal": "2",
        "symbol": "",
        "scale": false,
        "minin": "",
        "maxin": "",
        "minout": "",
        "maxout": "",
        "x": 670,
        "y": 180,
        "wires": [
            [
                "5d9f2b16e683fd9d"
            ]
        ]
    },
    {
        "id": "8cdc22f329a794c0",
        "type": "ui_probe",
        "z": "fa790d73.1efda",
        "name": "ORP",
        "group": "d245fff0.0b692",
        "order": 4,
        "width": 6,
        "height": 2,
        "label": "ORP",
        "removeOlder": "3",
        "removeOlderUnit": "3600",
        "decimal": 0,
        "symbol": "",
        "scale": false,
        "minin": "",
        "maxin": "",
        "minout": "",
        "maxout": "",
        "x": 670,
        "y": 220,
        "wires": [
            [
                "5d9f2b16e683fd9d"
            ]
        ]
    },
    {
        "id": "d45b7a8fecda49ba",
        "type": "ui_probe",
        "z": "fa790d73.1efda",
        "name": "EC",
        "group": "d245fff0.0b692",
        "order": 5,
        "width": 6,
        "height": 2,
        "label": "EC",
        "removeOlder": "3",
        "removeOlderUnit": "3600",
        "decimal": "3",
        "symbol": "",
        "scale": false,
        "minin": "",
        "maxin": "",
        "minout": "",
        "maxout": "",
        "x": 670,
        "y": 260,
        "wires": [
            [
                "5d9f2b16e683fd9d"
            ]
        ]
    },
    {
        "id": "927e50e6712975e3",
        "type": "ui_output",
        "z": "fa790d73.1efda",
        "name": "Alarm",
        "group": "2316f587.0b98ca",
        "order": 8,
        "width": 6,
        "height": 1,
        "label": "Alarm (SMS)",
        "useThemeColors": true,
        "options": [
            {
                "label": "OFF",
                "value": "Alarms Disabled!",
                "valueType": "str",
                "color": "#009933"
            },
            {
                "label": "AUTO",
                "value": "func",
                "valueType": "func",
                "color": "#999999"
            }
        ],
        "topic": "alarm",
        "func": "var tanklvl = flow.get('disp_lvl');\nvar tmp1 = flow.get('temp1').toFixed(1);\nvar tmp2 = flow.get('temp2').toFixed(1);\nvar ph = flow.get('ph').toFixed(1);\nvar ec = flow.get('ec');\nvar active = flow.get('alarm');\nvar alarms = ['Alarm!'];\n\n//display level alarm\nif(tanklvl < 62) { \n    alarms.push('TANK: display level at ' + tanklvl + '%!');\n}\n\n//temp alarm\nif(tmp1 > 80 || tmp1 < 75 || tmp2 > 80 || tmp2 < 75) { \n    alarms.push('TEMP: temp at ' + tmp1 + ' and ' + tmp2 + '!');\n}\n\n//ph alarm\nif(ph > 8.5 || ph < 7.9) { \n    alarms.push('PH: ph at ' + ph + '!');\n}\n\n//conductivity alarm\nif(ec < 1.023 || ec > 1.027) { \n    alarms.push('EC: ec at ' + ec + '!');\n}\n\nvar msg = {};\n\nif(alarms.length > 1){\n    flow.set('alarm', true);\n    msg.toFront = 'ON';\n    msg.payload = alarms.join('\\n');\n    return msg;\n} else {\n    if(active){\n        flow.set('alarm', false);\n        msg.toFront = 'OFF';\n        msg.payload = 'Alarms cleared.';\n        return msg;\n    }\n    return;\n}",
        "outputs": 1,
        "noerr": 0,
        "libs": [],
        "repeat": "10",
        "repeatUnit": "60000",
        "x": 870,
        "y": 60,
        "wires": [
            [
                "413eebb0ac8bad71"
            ]
        ]
    },
    {
        "id": "72703a31c8321196",
        "type": "ui_output",
        "z": "fa790d73.1efda",
        "name": "Light",
        "group": "2316f587.0b98ca",
        "order": 4,
        "width": 6,
        "height": 1,
        "label": "Light",
        "useThemeColors": true,
        "options": [
            {
                "label": "OFF",
                "value": "5",
                "valueType": "num",
                "color": "#009933"
            },
            {
                "label": "AUTO",
                "value": "func",
                "valueType": "func",
                "color": "#999999"
            },
            {
                "label": "ON",
                "value": "1500",
                "valueType": "num",
                "color": "#ff6666"
            }
        ],
        "topic": "",
        "func": "var d = new Date();\nvar h = d.getHours();\nvar pload = 5;\n\nif (h >= 8 && h < 19){\n    pload = 1500;\n}\n\nvar fnt = Math.round(((pload / 4000) * 100)) + '%';\n\nvar msg = { topic: 'light_val', payload: pload, toFront: fnt };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "libs": [],
        "repeat": "5",
        "repeatUnit": "1000",
        "x": 670,
        "y": 580,
        "wires": [
            [
                "f3acc91f.097608"
            ]
        ]
    },
    {
        "id": "814fa555ef24eca7",
        "type": "ui_output",
        "z": "fa790d73.1efda",
        "name": "Pump",
        "group": "2316f587.0b98ca",
        "order": 5,
        "width": 6,
        "height": 1,
        "label": "Pump",
        "useThemeColors": true,
        "options": [
            {
                "label": "OFF",
                "value": "0",
                "valueType": "num",
                "color": "#009933"
            },
            {
                "label": "AUTO",
                "value": "func",
                "valueType": "func",
                "color": "#999999"
            },
            {
                "label": "ON",
                "value": "4000",
                "valueType": "num",
                "color": "#ff6666"
            }
        ],
        "topic": "pmp_val",
        "func": "//get sensor value\nvar inp = flow.get('disp_lvl');\n\n//flip sensor range\ninp = ((inp / 4000) * -4000) + 4000;\n\n//safety off\nvar cor = 0;\n\n//init pid\nvar ctr = new pid(35.0, 5.0, 2.0, 0.2);\n\n//set target\nctr.setTarget(2750);\n\n//get correction\ncor = Math.round(ctr.update(inp));\n\nif (cor < 1000) cor = 1000;\nif (cor > 4000) cor = 4000;\nif (inp > 2725) cor = 0;\n\nvar fnt = Math.round(((cor / 4000) * 100)) + '%';\nvar msg = { topic: 'pmp_val', payload: cor, toFront: fnt };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "libs": [
            {
                "var": "pid",
                "module": "node-pid-controller"
            }
        ],
        "repeat": "200",
        "repeatUnit": "1",
        "x": 670,
        "y": 620,
        "wires": [
            [
                "2560d.32b2f9f3c",
                "88b3d70b6d6890cb"
            ]
        ]
    },
    {
        "id": "f2c363ab744976e4",
        "type": "ui_output",
        "z": "fa790d73.1efda",
        "name": "Drain",
        "group": "2316f587.0b98ca",
        "order": 6,
        "width": 6,
        "height": 1,
        "label": "Drain",
        "useThemeColors": true,
        "options": [
            {
                "label": "OFF",
                "value": "0",
                "valueType": "num",
                "color": "#009933"
            },
            {
                "label": "AUTO",
                "value": "func",
                "valueType": "func",
                "color": "#999999"
            },
            {
                "label": "ON",
                "value": "4000",
                "valueType": "num",
                "color": "#ff6666"
            }
        ],
        "topic": "drain_val",
        "func": "//var ctr = new pid(12.0, 0.0, 0.0, 0.1);\n//var inp = context.get('disp_lvl');\n//ctr.setTarget(1700);\n//var correction = Math.round(ctr.update(inp));\n//if (correction < 0) correction = 0;\n//if (correction > 4000) correction = 4000;\n//var msg = { payload: correction };\n//return msg;\n\n//get sensor value\nvar inp = flow.get('disp_lvl');\nvar pmp = flow.get('pmp_val');\n\n//flip sensor range\ninp = ((inp / 4000) * -4000) + 4000;\n\nvar cor = 3500;\n\nif(inp < 2300 || pmp == 0){\n    cor = 0;\n}\n\nvar fnt = Math.round(((cor / 4000) * 100)) + '%';\nvar msg = { topic: 'drain_val', payload: cor, toFront: fnt };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "libs": [],
        "repeat": "1",
        "repeatUnit": "1000",
        "x": 670,
        "y": 660,
        "wires": [
            [
                "a7acd6a8.5cb3f8"
            ]
        ]
    },
    {
        "id": "5183bd957eb86b9a",
        "type": "ui_output",
        "z": "fa790d73.1efda",
        "name": "Heater",
        "group": "2316f587.0b98ca",
        "order": 1,
        "width": 6,
        "height": 1,
        "label": "Heater",
        "useThemeColors": true,
        "options": [
            {
                "label": "OFF",
                "value": "false",
                "valueType": "bool",
                "color": "#009933"
            },
            {
                "label": "AUTO",
                "value": "func",
                "valueType": "func",
                "color": "#999999"
            },
            {
                "label": "ON",
                "value": "true",
                "valueType": "bool",
                "color": "#ff6666"
            }
        ],
        "topic": "192.168.50.54/0",
        "func": "var tmp1 = flow.get('temp1');\nvar tmp2 = flow.get('temp2');\nvar state = flow.get('plug1');\nvar pload;\n\nif(tmp1 > 81.0 || tmp2 > 81.0) {\n    pload = false;\n} else {\n    pload = true;\n}\n\nif (pload !== state) {\n    var msg = { \n        topic: '192.168.50.54/0', \n        payload: pload,\n        toFront: pload === true ? 'ON' : 'OFF',\n    };\n    return msg;\n} else {\n    return;\n}",
        "outputs": 1,
        "noerr": 0,
        "libs": [],
        "repeat": "5",
        "repeatUnit": "1000",
        "x": 770,
        "y": 360,
        "wires": [
            [
                "11f8ef10c50e29d9"
            ]
        ]
    },
    {
        "id": "88cfec6847919e50",
        "type": "ui_output",
        "z": "fa790d73.1efda",
        "name": "Skimmer",
        "group": "2316f587.0b98ca",
        "order": 2,
        "width": 6,
        "height": 1,
        "label": "Skimmer",
        "useThemeColors": true,
        "options": [
            {
                "label": "OFF",
                "value": "false",
                "valueType": "bool",
                "color": "#009933"
            },
            {
                "label": "AUTO",
                "value": "func",
                "valueType": "func",
                "color": "#999999"
            },
            {
                "label": "ON",
                "value": "true",
                "valueType": "bool",
                "color": "#ff6666"
            }
        ],
        "topic": "192.168.50.54/1",
        "func": "var smp = flow.get('sump_lvl');\nvar state = flow.get('plug2');\nvar pload;\nvar d = new Date();\nvar h = d.getHours();\n\nif (h >= 10 && h < 18){\n    if (smp < 1800) {\n        pload = false;\n    } else {\n        pload = true;\n    }\n} else {\n    pload = false;\n}\n\nif (pload !== state){\n    var msg = { \n        topic: '192.168.50.54/1', \n        payload: pload,\n        toFront: pload === true ? 'ON' : 'OFF',\n    };\n    return msg;\n} else {\n    return;\n}",
        "outputs": 1,
        "noerr": 0,
        "libs": [],
        "repeat": "5",
        "repeatUnit": "1000",
        "x": 780,
        "y": 400,
        "wires": [
            [
                "11f8ef10c50e29d9"
            ]
        ]
    },
    {
        "id": "d2327475aa157a96",
        "type": "ui_output",
        "z": "fa790d73.1efda",
        "name": "Pump PWR",
        "group": "2316f587.0b98ca",
        "order": 3,
        "width": 6,
        "height": 1,
        "label": "Return PWR",
        "useThemeColors": true,
        "options": [
            {
                "label": "OFF",
                "value": "false",
                "valueType": "bool",
                "color": "#009933"
            },
            {
                "label": "AUTO",
                "value": "func",
                "valueType": "func",
                "color": "#999999"
            },
            {
                "label": "ON",
                "value": "true",
                "valueType": "bool",
                "color": "#ff6666"
            }
        ],
        "topic": "192.168.50.54/2",
        "func": "return;",
        "outputs": 1,
        "noerr": 0,
        "libs": [],
        "repeat": "5",
        "repeatUnit": "1000",
        "x": 790,
        "y": 440,
        "wires": [
            [
                "11f8ef10c50e29d9"
            ]
        ]
    },
    {
        "id": "2d9cd961e52c8495",
        "type": "ui_probe",
        "z": "fa790d73.1efda",
        "name": "SDAFE1",
        "group": "defa544f.e0f388",
        "order": 4,
        "width": 6,
        "height": 2,
        "label": "SDAFE1",
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "decimal": 0,
        "symbol": "%",
        "scale": true,
        "minin": "4000",
        "maxin": "20000",
        "minout": "0",
        "maxout": "100",
        "x": 480,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "abf8d932e64b0ea4",
        "type": "ui_probe",
        "z": "fa790d73.1efda",
        "name": "SDAFE2",
        "group": "defa544f.e0f388",
        "order": 5,
        "width": 6,
        "height": 2,
        "label": "SDAFE2",
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "decimal": 0,
        "symbol": "%",
        "scale": true,
        "minin": "0",
        "maxin": "10000",
        "minout": "0",
        "maxout": "100",
        "x": 480,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "6c2d1b62f5350fcf",
        "type": "ui_output",
        "z": "fa790d73.1efda",
        "name": "Return",
        "group": "2316f587.0b98ca",
        "order": 7,
        "width": 6,
        "height": 1,
        "label": "Return",
        "useThemeColors": true,
        "options": [
            {
                "label": "LEFT",
                "value": "250",
                "valueType": "num",
                "color": "#009933"
            },
            {
                "label": "MID",
                "value": "2450",
                "valueType": "num",
                "color": "#999999"
            },
            {
                "label": "RIGHT",
                "value": "4000",
                "valueType": "num",
                "color": "#ff6666"
            },
            {
                "label": "AUTO",
                "value": "func",
                "valueType": "func",
                "color": "#009999"
            }
        ],
        "topic": "",
        "func": "var d = new Date();\nvar h = d.getHours() + 1;\nvar r = h % 3;\nvar pload;\n\nswitch(r){\n    case 0:\n        pload = 250;\n        break;\n    case 1:\n        pload = 2450;\n        break;\n    case 2:\n        pload = 4000;\n        break;\n}\n\nvar msg = { payload: pload };\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "libs": [],
        "repeat": "1",
        "repeatUnit": "60000",
        "x": 830,
        "y": 1020,
        "wires": [
            [
                "41832eba.3daf4"
            ]
        ]
    },
    {
        "id": "c3bae43439419d6f",
        "type": "ui_probe",
        "z": "fa790d73.1efda",
        "name": "Sump",
        "group": "defa544f.e0f388",
        "order": 1,
        "width": 6,
        "height": 2,
        "label": "Sump",
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "decimal": 0,
        "symbol": "",
        "scale": false,
        "minin": "",
        "maxin": "",
        "minout": "",
        "maxout": "",
        "x": 470,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "6206bb149e9b631a",
        "type": "ui_probe",
        "z": "fa790d73.1efda",
        "name": "Tank",
        "group": "defa544f.e0f388",
        "order": 2,
        "width": 6,
        "height": 2,
        "label": "Tank",
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "decimal": 0,
        "symbol": "%",
        "scale": true,
        "minin": "0",
        "maxin": "4000",
        "minout": "150.2",
        "maxout": "-28.3",
        "x": 470,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "88b3d70b6d6890cb",
        "type": "ui_probe",
        "z": "fa790d73.1efda",
        "name": "Pump",
        "group": "defa544f.e0f388",
        "order": 3,
        "width": 6,
        "height": 2,
        "label": "Pump",
        "removeOlder": 1,
        "removeOlderUnit": "60",
        "decimal": 0,
        "symbol": "%",
        "scale": true,
        "minin": "0",
        "maxin": "4000",
        "minout": "0",
        "maxout": "100",
        "x": 1050,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "4b2d4d463525030d",
        "type": "influxdb in",
        "z": "cc2bfd3b364006d3",
        "influxdb": "8834c282.e5704",
        "name": "",
        "query": "from(bucket: \"reef_12g/autogen\")\n    |> range(start: -48h, stop: now())\n    |> filter(fn: (r) =>\n        r._measurement == \"probes\"\n    )",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 550,
        "y": 80,
        "wires": [
            [
                "f0ab521808961a95"
            ]
        ]
    },
    {
        "id": "f0ab521808961a95",
        "type": "function",
        "z": "cc2bfd3b364006d3",
        "name": "",
        "func": "var temp1 = [];\nvar temp2 = [];\nvar ph = [];\nvar orp = [];\nvar ec = [];\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    \n    var tmp = msg.payload[i]._field;\n    var tmp2 = {\n            x: new Date(msg.payload[i]._time),\n            y: msg.payload[i]._value,\n        };\n    \n    if(tmp == 'temp1') { temp1.push(tmp2); }\n    if(tmp == 'temp2') { temp2.push(tmp2); }\n    if(tmp == 'ph') { ph.push(tmp2); }\n    if(tmp == 'orp') { orp.push(tmp2); }\n    if(tmp == 'ec') { ec.push(tmp2); }\n}\n\nvar msg1 = { payload: temp1 };\nvar msg2 = { payload: temp2 };\nvar msg3 = { payload: ph };\nvar msg4 = { payload: orp };\nvar msg5 = { payload: ec };\n\nreturn [msg1,msg2,msg3,msg4,msg5];",
        "outputs": 5,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 160,
        "wires": [
            [
                "1134fe2c04754dc3"
            ],
            [
                "8fcf5a825eaa93be"
            ],
            [
                "54346407951ab311"
            ],
            [
                "0dfb61f09e1e9089"
            ],
            [
                "b56824977b6bb142"
            ]
        ]
    },
    {
        "id": "9d798992b9230c83",
        "type": "ui_ui_control",
        "z": "cc2bfd3b364006d3",
        "name": "",
        "events": "all",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "6094c21008260281"
            ]
        ]
    },
    {
        "id": "6094c21008260281",
        "type": "function",
        "z": "cc2bfd3b364006d3",
        "name": "",
        "func": "if(msg.tab === 1){\n    msg.payload = true;\n    return msg;\n} else {\n    return;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 80,
        "wires": [
            [
                "4b2d4d463525030d"
            ]
        ]
    },
    {
        "id": "1134fe2c04754dc3",
        "type": "ui_probe",
        "z": "cc2bfd3b364006d3",
        "name": "Temp1",
        "group": "ccfbed40649b0975",
        "order": 1,
        "width": "18",
        "height": 2,
        "label": "Temp1",
        "removeOlder": "24",
        "removeOlderUnit": "3600",
        "decimal": "1",
        "symbol": "",
        "scale": false,
        "minin": "",
        "maxin": "",
        "minout": "",
        "maxout": "",
        "x": 970,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "8fcf5a825eaa93be",
        "type": "ui_probe",
        "z": "cc2bfd3b364006d3",
        "name": "Temp2",
        "group": "ccfbed40649b0975",
        "order": 2,
        "width": "18",
        "height": 2,
        "label": "Temp2",
        "removeOlder": "24",
        "removeOlderUnit": "3600",
        "decimal": "1",
        "symbol": "",
        "scale": false,
        "minin": "",
        "maxin": "",
        "minout": "",
        "maxout": "",
        "x": 970,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "54346407951ab311",
        "type": "ui_probe",
        "z": "cc2bfd3b364006d3",
        "name": "PH",
        "group": "ccfbed40649b0975",
        "order": 3,
        "width": "18",
        "height": 2,
        "label": "PH",
        "removeOlder": "24",
        "removeOlderUnit": "3600",
        "decimal": "2",
        "symbol": "",
        "scale": false,
        "minin": "",
        "maxin": "",
        "minout": "",
        "maxout": "",
        "x": 970,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "0dfb61f09e1e9089",
        "type": "ui_probe",
        "z": "cc2bfd3b364006d3",
        "name": "ORP",
        "group": "ccfbed40649b0975",
        "order": 4,
        "width": "18",
        "height": 2,
        "label": "ORP",
        "removeOlder": "24",
        "removeOlderUnit": "3600",
        "decimal": 0,
        "symbol": "",
        "scale": false,
        "minin": "",
        "maxin": "",
        "minout": "",
        "maxout": "",
        "x": 970,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "b56824977b6bb142",
        "type": "ui_probe",
        "z": "cc2bfd3b364006d3",
        "name": "EC",
        "group": "ccfbed40649b0975",
        "order": 5,
        "width": "18",
        "height": 2,
        "label": "EC",
        "removeOlder": "24",
        "removeOlderUnit": "3600",
        "decimal": "3",
        "symbol": "",
        "scale": false,
        "minin": "",
        "maxin": "",
        "minout": "",
        "maxout": "",
        "x": 970,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "7269b0e6.df809",
        "type": "exec",
        "z": "30e1932b.805ebc",
        "command": "vcgencmd measure_temp | egrep -o \"[0-9]+\\.[0-9]+?\"",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "read_T",
        "x": 440,
        "y": 260,
        "wires": [
            [
                "44dfc651.430338"
            ],
            [],
            []
        ]
    },
    {
        "id": "802eeedf.dcd39",
        "type": "exec",
        "z": "30e1932b.805ebc",
        "command": "df -m | grep root",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "read_sd_usage",
        "x": 460,
        "y": 380,
        "wires": [
            [
                "499b8003.dd6e6"
            ],
            [],
            []
        ]
    },
    {
        "id": "499b8003.dd6e6",
        "type": "function",
        "z": "30e1932b.805ebc",
        "name": "convert",
        "func": "var msg1,msg2,msg3;\n\nl = msg.payload.split(/(\\s+)/).filter( function(e) { return e.trim().length > 0; } );\nmsg1 = {topic: 'Available', payload: Math.round(l[1] / 1000) + ' GB'};\nmsg2 = {topic: 'Used', payload: Math.round(l[2] / 1000) + ' GB'};\nmsg3 = {topic: 'Used%', payload: l[4].slice(0, -1)};\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "noerr": 0,
        "x": 700,
        "y": 380,
        "wires": [
            [],
            [],
            [
                "bdba805cfd1a0487"
            ]
        ]
    },
    {
        "id": "f4a20935.a58ea8",
        "type": "OS",
        "z": "30e1932b.805ebc",
        "name": "",
        "x": 430,
        "y": 460,
        "wires": [
            [
                "c8ec924a.9c603"
            ]
        ]
    },
    {
        "id": "12d08fff.0281c",
        "type": "Uptime",
        "z": "30e1932b.805ebc",
        "name": "",
        "x": 440,
        "y": 200,
        "wires": [
            [
                "acfcc29b.94b53"
            ]
        ]
    },
    {
        "id": "8a52c18c.b4e4a",
        "type": "Memory",
        "z": "30e1932b.805ebc",
        "name": "",
        "x": 440,
        "y": 60,
        "wires": [
            [
                "b2771486.0870c8"
            ]
        ]
    },
    {
        "id": "f7ed59cc.1a2378",
        "type": "inject",
        "z": "30e1932b.805ebc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "9bb4ddd0.5dd44"
            ]
        ]
    },
    {
        "id": "c8ec924a.9c603",
        "type": "function",
        "z": "30e1932b.805ebc",
        "name": "extract",
        "func": "var msg1,msg2,msg3,msg4;\n\nmsg1 = {topic: 'hostname', payload: msg.payload.hostname};\nmsg2 = {topic: 'type', payload: msg.payload.type};\nmsg3 = {topic: 'release', payload: msg.payload.release};\n\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "noerr": 0,
        "x": 690,
        "y": 460,
        "wires": [
            [
                "e70a8147.36f6f"
            ],
            [
                "c25bc3db.b9327"
            ],
            [
                "fc83c806.30c6e8"
            ]
        ],
        "outputLabels": [
            "OS",
            "Version",
            "",
            ""
        ]
    },
    {
        "id": "e70a8147.36f6f",
        "type": "ui_text",
        "z": "30e1932b.805ebc",
        "group": "784a477d318a72af",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Hostename:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 990,
        "y": 420,
        "wires": []
    },
    {
        "id": "c25bc3db.b9327",
        "type": "ui_text",
        "z": "30e1932b.805ebc",
        "group": "784a477d318a72af",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Type:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 970,
        "y": 460,
        "wires": []
    },
    {
        "id": "fc83c806.30c6e8",
        "type": "ui_text",
        "z": "30e1932b.805ebc",
        "group": "784a477d318a72af",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Release:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 980,
        "y": 500,
        "wires": []
    },
    {
        "id": "acfcc29b.94b53",
        "type": "function",
        "z": "30e1932b.805ebc",
        "name": "convert_uptime",
        "func": "var d = Math.floor(msg.payload.uptime / 86400);\nvar h = Math.floor((msg.payload.uptime % 86400) / 3600);\nvar m = Math.floor(((msg.payload.uptime % 86400) % 3600) / 60);\nmsg.payload = d + ' ds, ' + h + ' hrs, ' + m + \" mins\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 200,
        "wires": [
            [
                "5fd073c2.77ad2c"
            ]
        ]
    },
    {
        "id": "5fd073c2.77ad2c",
        "type": "ui_text",
        "z": "30e1932b.805ebc",
        "group": "784a477d318a72af",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime:",
        "format": "{{ msg.payload }}",
        "layout": "row-spread",
        "x": 980,
        "y": 200,
        "wires": []
    },
    {
        "id": "b2771486.0870c8",
        "type": "function",
        "z": "30e1932b.805ebc",
        "name": "Extract",
        "func": "var ram;\nram = parseFloat(msg.payload.memusage);\nmsg.payload = ram;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 60,
        "wires": [
            [
                "71aa35ebe821cc05"
            ]
        ]
    },
    {
        "id": "780913b9.7b968c",
        "type": "ui_button",
        "z": "30e1932b.805ebc",
        "name": "",
        "group": "784a477d318a72af",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reboot",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Are you sure you want to reboot?",
        "payloadType": "str",
        "topic": "",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "d28060bd.2884"
            ]
        ]
    },
    {
        "id": "ab17c3a8.a2fd6",
        "type": "exec",
        "z": "30e1932b.805ebc",
        "command": "sudo reboot",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "Reboot",
        "x": 620,
        "y": 540,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "b4d6710b.18326",
        "type": "ui_text",
        "z": "30e1932b.805ebc",
        "group": "784a477d318a72af",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "IP Address",
        "format": "{{value.substring(0, value.indexOf(\" \"))}}",
        "layout": "row-spread",
        "x": 990,
        "y": 320,
        "wires": []
    },
    {
        "id": "3288dde.2c05a22",
        "type": "exec",
        "z": "30e1932b.805ebc",
        "command": "hostname",
        "addpay": false,
        "append": "-I",
        "useSpawn": "",
        "timer": "",
        "name": "Get Local IP",
        "x": 450,
        "y": 320,
        "wires": [
            [
                "b4d6710b.18326"
            ],
            [],
            []
        ]
    },
    {
        "id": "d28060bd.2884",
        "type": "ui_toast",
        "z": "30e1932b.805ebc",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "Reboot",
        "cancel": "Cancel",
        "raw": false,
        "topic": "",
        "name": "Reboot?",
        "x": 300,
        "y": 540,
        "wires": [
            [
                "32389566.c644ca"
            ]
        ]
    },
    {
        "id": "37b65367.cb0adc",
        "type": "inject",
        "z": "30e1932b.805ebc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payloadType": "date",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "f4a20935.a58ea8",
                "802eeedf.dcd39",
                "3288dde.2c05a22",
                "12d08fff.0281c",
                "8a52c18c.b4e4a",
                "7269b0e6.df809"
            ]
        ]
    },
    {
        "id": "32389566.c644ca",
        "type": "switch",
        "z": "30e1932b.805ebc",
        "name": "Reboot?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Reboot",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 540,
        "wires": [
            [
                "ab17c3a8.a2fd6"
            ]
        ]
    },
    {
        "id": "9bb4ddd0.5dd44",
        "type": "exec",
        "z": "30e1932b.805ebc",
        "command": "top",
        "addpay": false,
        "append": "-b -n 1 | sed -n \"s/^%Cpu.*ni, \\([0-9.]*\\) .*$/\\1/p\"",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "CPU",
        "x": 430,
        "y": 120,
        "wires": [
            [
                "b4cb3e35.db9ca"
            ],
            [],
            []
        ]
    },
    {
        "id": "b4cb3e35.db9ca",
        "type": "function",
        "z": "30e1932b.805ebc",
        "name": "Convert",
        "func": "var load;\nload = 100-msg.payload;\nmsg.payload = parseFloat(load);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 120,
        "wires": [
            [
                "20f149320be20de2"
            ]
        ]
    },
    {
        "id": "26c6cede.a2aef2",
        "type": "exec",
        "z": "30e1932b.805ebc",
        "command": "sudo",
        "addpay": false,
        "append": "hwclock -r",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Read RTC",
        "x": 370,
        "y": 620,
        "wires": [
            [
                "f4a66261.44327"
            ],
            [],
            []
        ]
    },
    {
        "id": "f4a66261.44327",
        "type": "function",
        "z": "30e1932b.805ebc",
        "name": "extract",
        "func": "var date = msg.payload.slice(0,10);\nvar time = msg.payload.slice(11,16);\n\nmsg.payload = date + \" | \" + time;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "6b682b87.6f75a4",
        "type": "inject",
        "z": "30e1932b.805ebc",
        "name": "Poll 1 min",
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "44dfc651.430338",
        "type": "function",
        "z": "30e1932b.805ebc",
        "name": "Convert",
        "func": "var load = msg.payload;\nmsg.payload = parseFloat(load);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 260,
        "wires": [
            [
                "4b5f8e5632b43d37"
            ]
        ]
    },
    {
        "id": "71aa35ebe821cc05",
        "type": "ui_probe",
        "z": "30e1932b.805ebc",
        "name": "Ram",
        "group": "36816e08.30a3e2",
        "order": 2,
        "width": 6,
        "height": 2,
        "label": "Ram",
        "removeOlder": "12",
        "removeOlderUnit": "3600",
        "decimal": 0,
        "symbol": "%",
        "scale": false,
        "minin": "",
        "maxin": "",
        "minout": "",
        "maxout": "",
        "x": 970,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "20f149320be20de2",
        "type": "ui_probe",
        "z": "30e1932b.805ebc",
        "name": "CPU",
        "group": "36816e08.30a3e2",
        "order": 1,
        "width": 6,
        "height": 2,
        "label": "CPU",
        "removeOlder": "5",
        "removeOlderUnit": "60",
        "decimal": 0,
        "symbol": "%",
        "scale": false,
        "minin": "",
        "maxin": "",
        "minout": "",
        "maxout": "",
        "x": 970,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "4b5f8e5632b43d37",
        "type": "ui_probe",
        "z": "30e1932b.805ebc",
        "name": "Temp",
        "group": "1727aa2261bc32b9",
        "order": 1,
        "width": 6,
        "height": 2,
        "label": "Temp",
        "removeOlder": "12",
        "removeOlderUnit": "3600",
        "decimal": 0,
        "symbol": "",
        "scale": false,
        "minin": "",
        "maxin": "",
        "minout": "",
        "maxout": "",
        "x": 970,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "bdba805cfd1a0487",
        "type": "ui_probe",
        "z": "30e1932b.805ebc",
        "name": "Disc",
        "group": "1727aa2261bc32b9",
        "order": 2,
        "width": 6,
        "height": 2,
        "label": "Disc",
        "removeOlder": "12",
        "removeOlderUnit": "3600",
        "decimal": 0,
        "symbol": "%",
        "scale": false,
        "minin": "",
        "maxin": "",
        "minout": "",
        "maxout": "",
        "x": 970,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "51ae3a21.de4ec4",
        "type": "inject",
        "z": "946a4136.4ff9f",
        "name": "Simple Read",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "r",
        "payloadType": "str",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "f1ab005b.08d24"
            ]
        ]
    },
    {
        "id": "8d786a91.eb6e78",
        "type": "debug",
        "z": "946a4136.4ff9f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 420,
        "wires": []
    },
    {
        "id": "f1ab005b.08d24",
        "type": "ezo",
        "z": "946a4136.4ff9f",
        "name": "",
        "address": "113",
        "customAddr": true,
        "ezoBoard": "hum",
        "ezoTopic": "humidity",
        "x": 520,
        "y": 420,
        "wires": [
            [
                "8d786a91.eb6e78"
            ]
        ]
    },
    {
        "id": "1377d047.5b23a",
        "type": "inject",
        "z": "946a4136.4ff9f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "O,HUM,1",
        "payloadType": "str",
        "x": 220,
        "y": 280,
        "wires": [
            [
                "f1ab005b.08d24"
            ]
        ]
    },
    {
        "id": "d6a683d8.2f8ed",
        "type": "inject",
        "z": "946a4136.4ff9f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "O,T,1",
        "payloadType": "str",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "f1ab005b.08d24"
            ]
        ]
    },
    {
        "id": "bb5226fd.4add48",
        "type": "inject",
        "z": "946a4136.4ff9f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "O,Dew,1",
        "payloadType": "str",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "f1ab005b.08d24"
            ]
        ]
    },
    {
        "id": "f1f4de80.96ea3",
        "type": "inject",
        "z": "946a4136.4ff9f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "O,?",
        "payloadType": "str",
        "x": 210,
        "y": 520,
        "wires": [
            [
                "f1ab005b.08d24"
            ]
        ]
    },
    {
        "id": "c8ee087b.d87e08",
        "type": "inject",
        "z": "946a4136.4ff9f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "O,HUM,0",
        "payloadType": "str",
        "x": 220,
        "y": 400,
        "wires": [
            [
                "f1ab005b.08d24"
            ]
        ]
    },
    {
        "id": "57a60d89.798004",
        "type": "inject",
        "z": "946a4136.4ff9f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "O,T,0",
        "payloadType": "str",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "f1ab005b.08d24"
            ]
        ]
    },
    {
        "id": "b3a6fe5a.29c13",
        "type": "inject",
        "z": "946a4136.4ff9f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "O,Dew,0",
        "payloadType": "str",
        "x": 220,
        "y": 480,
        "wires": [
            [
                "f1ab005b.08d24"
            ]
        ]
    },
    {
        "id": "3218fe73.777ac2",
        "type": "inject",
        "z": "946a4136.4ff9f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "i",
        "payloadType": "str",
        "x": 210,
        "y": 580,
        "wires": [
            [
                "f1ab005b.08d24"
            ]
        ]
    },
    {
        "id": "45e2f1ec.32c2c",
        "type": "inject",
        "z": "946a4136.4ff9f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "status",
        "payloadType": "str",
        "x": 210,
        "y": 620,
        "wires": [
            [
                "f1ab005b.08d24"
            ]
        ]
    },
    {
        "id": "7a19808a.55eab",
        "type": "inject",
        "z": "946a4136.4ff9f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "name,?",
        "payloadType": "str",
        "x": 210,
        "y": 660,
        "wires": [
            [
                "f1ab005b.08d24"
            ]
        ]
    },
    {
        "id": "a2fd854971f3c59c",
        "type": "inject",
        "z": "946a4136.4ff9f",
        "name": "Complex Read",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "address",
                "v": "113",
                "vt": "num"
            },
            {
                "p": "command",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "i",
        "payloadType": "str",
        "x": 240,
        "y": 220,
        "wires": [
            [
                "f1ab005b.08d24"
            ]
        ]
    },
    {
        "id": "70693d4e35e739d7",
        "type": "ezo",
        "z": "946a4136.4ff9f",
        "name": "Test - Pump",
        "address": 3,
        "customAddr": false,
        "ezoBoard": "ph",
        "ezoTopic": "peristaltic",
        "x": 550,
        "y": 840,
        "wires": [
            [
                "8d786a91.eb6e78"
            ]
        ]
    },
    {
        "id": "a8a798acdafce1bc",
        "type": "inject",
        "z": "946a4136.4ff9f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "R",
        "payloadType": "str",
        "x": 290,
        "y": 840,
        "wires": [
            [
                "70693d4e35e739d7"
            ]
        ]
    }
]